$myColor: #fff;
*{
  font-family: 'Montserrat', sans-serif;
}


.App {
<<<<<<< Updated upstream
  text-align: left;
  background-image:url(./Images/Background/1.png);
  background-size: cover;
  position: relative;


  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: $myColor;
  }
}

.color-overlay{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  position: absolute;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.line{
  overflow: hidden;
  transform: translateY(-50%);
}

.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0em;
  }
  to {
    width: 16em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba (255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

p{
  z-index: 1;
}
.App-link {
  color: #61dafb;
=======
  overflow: visible;
>>>>>>> Stashed changes
}

