$myColor: #fff;
*{
  font-family: 'Montserrat', sans-serif;
}


.App {
  overflow: visible;

}

.particles {
  background-color: black;
  position: absolute;
  z-index: -1;
  height: 250vh;
  width: 100%;
}


